/*  */
.header-component h1{
    text-align: center;
}
.header-component h3{
    text-align: center;
}
.header-component #navigationBar{
    float: right;
}

.header-component a{
    display:block;
    display:inline;
    padding: 8px;
}
.header-component ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header-component li{
    display:inline;
}
.header-component li a:link{
    color:black;
}
.header-component li a:hover{
    background-color: rgb(196, 196, 196);
}
.header-component li a:visited{
    color:black;
}
.header-component li a:active{
    color:black;
}

.header-component li button{
    background:none!important;
    color:inherit;
    border:none; 
    padding:8px;
    font: inherit;
}
.header-component li button:hover{
    cursor: pointer;
    background:rgb(196, 196, 196)!important;
    text-decoration-line: underline;
}